<section id="about" class="about">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/about.jpg");'>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <h3><strong>About Cravings</strong></h3>
            <p class="fst-italic">Following are some of the specialities of Cravings Restaurant.</p>
            <ul>
              <li><i class="bx bx-check-double"></i>It was made to cope-up with the needs of the customers for their arising needs for different types of cuisines.</li>
              <li><i class="bx bx-check-double"></i>We started in 2018 by offering only continental cuisine, with time we added three different cuisines to our menu.</li>
              <li><i class="bx bx-check-double"></i>We are currently operating in 5 different cities.</li>
              <li><i class="bx bx-check-double"></i>Customer's recommendation has always been a priority for our restaurant. It helps us to meet the requirements of each and every customer.</li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </section>