<%- include('partials/header.ejs') %>
<!-- ======= Top Bar ======= -->
 <section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
      <i class="bi bi-phone d-flex align-items-center"><span>+92 1234 5678 00</span></i>
      <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Mon-Sun: 11:00 AM - 23:00 PM</span></i>
    </div>
  </section>

<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="index.html">Cravings</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="/specials">Specials</a></li>
          <li><a class="nav-link scrollto" href="/events">Events</a></li>
          <li><a class="nav-link scrollto" href="/chefs">Chefs</a></li>
          <li><a class="nav-link scrollto" href="/gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>Certification</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              </li>
              <li><a href="/dropdown1">Punjab Food Authority Certificate</a></li>
              <li><a href="/dropdown2">Food Hygiene Certificate</a></li>
             
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/order" class="book-a-table-btn scrollto">Order</a>

    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
      <div class="hero-container">
          <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
              
              <div class="carousel-inner" role="listbox">
                  
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(http://localhost:5000/assets/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>Cravings</span> Restaurant</h2>
                <p class="animate__animated animate__fadeInUp">We provide one of the best continental, chinese and italian cuisines present in the market.</p>
                <div>
                  <a href="/menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Menu</a>
                  <a href="order.html" class="btn-book animate__animated animate__fadeInUp scrollto">Order</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->


  <main id="main">    

    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Why choose <span>Our Restaurant</span></h2>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Quality Food</h4>
              <p>We do not compromise over the quality of our food. As quality matters the most.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Organic Ingredients</h4>
              <p>All the ingredients used in our recipies are purely organic and they are extracted on daily basis.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>Mouthwatering Taste</h4>
              <p>Once you try our food, literally there's no way going back.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Whu Us Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="http://localhost:5000/assets/img/testimonials/avatar.jpg" class="testimonial-img" alt="">
                <h3>Web Masters</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Cravings restaurant is one of its kind restaurant in the market. We are the pioneers of providing all the top cusines available in the market right now.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            

          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->


  </main><!-- End #main -->

  <%- include('partials/footer.ejs') %>