<%- include('partials/header.ejs') %>
<section id="menu" class="menu">
    <div class="container">

      <br>
      <div class="section-title mt-md-5">
        <h2>Check our tasty <span>Menu</span></h2>
      </div>

      

      <div class="row menu-container">

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a href="#">Lobster Bisque</a><span>Rs.500</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a href="#">Bread barrel</a><span>Rs.600</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a href="#">Crab Cake</a><span>Rs.700</span>
          </div>
          <div class="menu-ingredients">
            A delicate crab cake served on a toasted roll with lettuce and tartar sauce
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <div class="menu-content">
            <a href="#">Caesar Selections</a><span>Rs.900</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a href="#">Tuscan Grilled</a><span>Rs.1000</span>
          </div>
          <div class="menu-ingredients">
            Grilled chicken with provolone, artichoke hearts, and roasted red pesto
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a href="#">Mozzarella Stick</a><span>Rs.500</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <div class="menu-content">
            <a href="#">Greek Salad</a><span>Rs.1000</span>
          </div>
          <div class="menu-ingredients">
            Fresh spinach, crisp romaine, tomatoes, and Greek olives
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <div class="menu-content">
            <a href="#">Spinach Salad</a><span>Rs.1000</span>
          </div>
          <div class="menu-ingredients">
            Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a href="#">Lobster Roll</a><span>Rs.1300</span>
          </div>
          <div class="menu-ingredients">
            Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
          </div>
        </div>

      </div>

    </div>
  </section>