<form action="/products/reviews" method="POST" id="reviews">
    <br class="row">
        <div class="col-lg-4 col-md-6 form-group">
            <h2>Comment</h2>
          <input type="text" name="comment" class="form-control" id="comment" placeholder="comment">
          <button class="comment-btn scrollto">Submit</button>
        </div>
        <br></br>
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <h2>Reviews</h2>
          <ul>
             
          </ul>
        </div>
</form> 